<div class="container-fluid header">
    <div class="row header">
        <span class="logo col-lg-3">in fraganti</span>
        <!--Search input-->
        <div class="input-group mb-3 col-lg-8 search-input">
            <input type="text" class="form-control" placeholder="Búsqueda de artículos" 
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append mb-3">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="black-icon fa fa-search"></i>
                    <span class="d-none d-lg-block">Buscar</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
                <ul>
                    <li>inicio</li>
                    <li>perfumeria</li>
                    <li>ambiente</li>
                    <li>zona zen</li>
                </ul>
        </div>
    </div>
</div>
